.header {
  display: block;
  background-image: url("/assests/img/logo/desctop\ bac.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 1080px;
  &_link {
    @include d-flex;
    background: rgba(0, 0, 0, 0.4);
    a {
      margin: 28px 105px 28px 103px;
    }
  }
  &_logo {
    @include d-flex(center);
    margin-top: -50px;
  }
  &_center {
    p {
      color: var(--Gray-6, #f2f2f2);
      text-align: center;
      font-size: 80px;
      font-weight: 300;
      line-height: normal;
      margin-top: 283px;
    }
  }
  &_button {
    @include d-flex(center);
    margin-top: 218px;
    gap: 50px;
    button {
      width: 348px;
      height: 77px;
      padding: 0;
      border: 1px solid #c4c4c4;
      background: rgba(17, 17, 17, 0.6);
      color: #fff;
      text-align: center;
      font-size: 24px;
      font-weight: 300;
      line-height: normal;
    }
    button:hover{
      opacity: 0.5;
    }
  }
}
