.instagram{
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 50px;
    border-bottom: 1px solid #BDBDBD;;
    &_img{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
}