button {
        padding: 35px 104px;
        color: #fff;
        text-align: center;
        font-size: 28px;
        font-weight: 300;
        line-height: normal;
        border: 1px solid #000;
        background: #000;
      }
      button:hover{
        opacity: 0.5;
      }